.DS_Store
*.beam
*.log
*.sql
*.dump
*.timer

protocol

server/.rebar
server/deps

server/data/*

server/ebin/*.beam
server/ebin/game.app

!server/include/api/api_test.hrl
server/include/gen/*

server/log/*

server/src/test.erl
server/src/api_out/
server/src/api_out/api_test_out.erl
server/src/gen/*
