.DS_Store
*.beam
*.log
*.sql
*.dump
server/src/test.erl
server/start.sh
server/date/*
server/ebin/*.beam
server/include/api/*
!server/include/api/api_test.hrl
server/include/gen/*
server/src/gen/*
server/src/gen/api_out/
protocol/
server/log/*
